@import '../../components/GlobalStyles/media-query';
.wrapper {
    height: 100vh;
    background: var(--bg-medium-primary);
    &-container {
        height: 100%;

        .sideNav {
            padding: 40px;
            background: var(--bg-primary);
        }

        .main {
            max-height: 100vh;
        }
    }
}

.isCreatePageWrapper {
    @include ultra_tablet_max {
        height: auto !important;
    }
}

.isCreatePageWrapperContainer {
    @include ultra_tablet_max {
        max-height: none !important;
    }
}
