.wrapper {
    height: 100vh;
    background: var(--bg-medium-primary);
    &-container {
        height: 100%;

        .sideNav {
            padding: 40px;
            background: var(--bg-primary);
        }

        .main {
            max-height: 100vh;
        }
    }
}
