@import '../../components//GlobalStyles//media-query';
.container {
    flex: 1;
}
.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 100%;
    border-radius: 4px;
    overflow: hidden;

    @include mobile_max {
        height: 60px;
    }
    &-box-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100px;
        background: #fff;

        &-item {
            display: block;
            height: 100%;
        }
    }
    &-input {
        height: 100%;
        flex: 1;
        display: block;
        padding: 0 16px;
        border: none;
        background: var(--bg-input, #f3f1f1);
        font-weight: 400;
        font-size: 16px;
        outline: none;
    }
}

.large-icon {
    height: 60px;
    width: 60px;
    @include mobile_max {
        width: 40px;
        height: 40px;
    }
}

.classNameError {
    margin-top: 4px;
    margin-bottom: 4px;
    color: #dc2626;
    min-height: 2px;
    font-size: 14px;
    font-weight: 600;
    min-height: 21px;
}

.isSmall {
    height: 40px;
}
