.btnExe {
    width: 48px;
    height: 64px;
    border-radius: 4px;
    border: 1px solid #000000;
    background: transparent;
}

.isFinish {
    background: #b6b6b6;
}

.isChoosing {
    background: #92fd9d;
    border: 2px solid #000000;
}
