@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
:root {
    --semiboldPrimary: #999595;
    --yellow: #fbbc1a;
    --bg-input: #f3f1f1;
    --bg-btn-logout: #c9cbcb;
    --bg-primary: #d9d9d9;
    --bg-medium-primary: #c4c4c4;
    --bg-bold-primary: #545151;
    --bg-star: #909090;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    font-weight: 500;
    text-rendering: optimizeSpeed;
    margin: 0px;
}

button {
    background: transparent;
    border: none;
    cursor: pointer;
}

a:hover {
    color: initial;
}

.btn-logout {
    height: 60px;
    background-color: var(--bg-btn-logout, #c9cbcb);
    border: 1px solid #00000080;
    font-weight: 400;
    font-size: 20px;
}

.btn-submit {
    height: 60px;
    width: 200px;
    background: #9f9d9f;
    border-radius: 999px;
    font-weight: 700;
    font-size: 20px;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ant-modal .ant-modal-content {
    padding: 12px;
}

.icon-check {
    display: none;
    position: absolute;
    top: 50%;
    left: 3%;
    font-size: 20px;
    transform: translateY(-50%);
}

.ant-radio-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    .ant-radio {
        width: 36px;
        height: 36px;
        display: block;
        background: #d9d9d9;
        border: 1px solid #000000;
        border-radius: 0;
    }
    .ant-radio-inner {
        display: none;
    }
}

.ant-radio-wrapper-checked .icon-check {
    display: inline-flex !important;
}

.ant-drawer .ant-drawer-body {
    padding: 0;
}
