@import '../../components/GlobalStyles/_media-query.scss';

.wrapper {
    &-search {
        display: flex;
        align-items: center;
        height: 60px;
        margin-top: 32px;
        @include ultra_tablet_max {
            margin-top: 12px;
        }
        &-input {
            height: 100%;
            flex: 1;
            margin-right: 20px;
        }
        &-add {
            height: 100%;
            width: 280px;
            background: #d9d9d9;
            @include ultra_tablet_max {
                width: 48px;
                background: transparent;
            }
        }
    }
    &-total-account {
        font-size: 22px;
        font-weight: 700;
        margin: 16px 0;
    }
}
