@import '../../../../components/GlobalStyles/media-query';

.wrapper {
    &-search {
        display: flex;
        align-items: center;
        height: 60px;
        margin-top: 32px;
        @include ultra_tablet_max {
            margin-top: 12px;
        }
        &-input {
            height: 100%;
            flex: 1;
            margin-right: 20px;
        }
        &-add {
            height: 100%;
            width: 280px;
            background: #d9d9d9;
            @include ultra_tablet_max {
                width: 48px;
                background: transparent;
            }
        }
    }
}
.table-container {
    flex: 1;
    margin-top: 16px;
    position: relative;
    .pageSizeTable {
        position: absolute;
        bottom: 0px;
        right: 200px;
        width: 80px;
        height: 32px;
        background: #9afac0;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        font-size: 16px;
        @include ultra_tablet_max {
            display: none;
        }
    }
}

.listPageSize {
    display: block;
    width: 80px;
    margin: 0;
    &-item {
        display: block;
        text-align: center;
        cursor: pointer;
        &:hover {
            background: var(--bg-primary);
        }
    }
}

.title {
    font-size: 20px;
    font-weight: 700;
    @include mobile_max {
        font-size: 16px;
    }
}

.max-line {
    max-width: 400px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    @include mobile_md {
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
    }
}
