.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    position: relative;
    &-text {
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 60px;
    }
    &-item {
        max-width: 1200px;
        width: 100%;
        display: block;
        height: 100%;
    }
}
